/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;

}

*:focus{
  outline: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

li{
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.iconMenu {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

header#app-poke .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#app-poke {
  width: 100%;
  display: block;
  padding: 10px;
  background: #2c3e50;
  position: relative;
}

.search {
  display: block;
  width: 100%;
  position: relative;
  margin:  0 auto;
  transform: translateX(-100%);
  transition: all .3s ease-in-out;
}

.open{
  transform: none !important;
}

.search .content{
  display: flex;
}

div#side {
  position: absolute;
  top: 0px;
  width: 80%;
  height: 100%;
  background: #34495e;
  z-index: 9999;
  transition: all .3s ease;
  transform: translateX(-100%);
}

.search input[type="text"] {
  width: 100%;
  display: block;
  padding: 10px 10px;
  border-collapse: collapse;
  -webkit-box-shadow: 8px 6px 57px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 6px 57px -6px rgba(0,0,0,0.75);
box-shadow: 8px 6px 57px -6px rgba(0,0,0,0.75);
z-index: 999;
}

.logo-side {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 50px;
}

.logo-side img {
  width: 160px;
}
div#side nav ul li {
  text-align: center;
  color: #fefefe;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}
.social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}

.close-side {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  top: 0px;
  z-index: 99999;
}

.db{
  display: block;
}

.dn{
  display: none;
}

.poke-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: -15px 18px 47px -17px rgba(0,0,0,0.75);
  position: relative;
  top: -50px;
  z-index: 10;
  background: #fff;
}

div#poke-view {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 35px;
  position: relative;
}

div#poke-view .content{
  height: fit-content;
  width: 100%;
  -webkit-box-shadow: -15px 18px 47px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -15px 18px 47px -17px rgba(0,0,0,0.75);
  box-shadow: -15px 18px 47px -17px rgba(0,0,0,0.75);
  border: 1px solid #dedede;
  border-radius: 10px;
}

.name h2{
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #1abc9c;
  border-bottom: 2px solid #1abc9c;
  width: 80%;
  margin: 0 auto;
}

h2.hab-title {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #e74c3c;
  font-weight: bold;
  border-bottom: 2px solid #e74c3c;
  width: 80%;
  margin: 0 auto;
}

.list-hab ul {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.list-hab ul li:last-child{
  border: none !important;
}

.list-hab ul li {
  font-size: 18px;
  color: #2c3e50;
  opacity: 0.8;
  text-transform: uppercase;
  border-bottom: 1px solid #dedede;
  padding: 15px 5px;
}

.status{
  color: #2980b9 !important;
  border-color: #2980b9 !important;
}

h4.name-poke {
  padding: 30px;
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
  opacity: 0.8;
}

.poke-status {
  display: block;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #dedede;
  border-radius: 5px;
}

ul.status-poke-details li:nth-child(even){
  background: #dedede
}

ul.status-poke-details li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  padding-left: 40px;
  border-bottom: 1px solid #dedede;
  position: relative;
}

h3.status-name:first-child {
  color: #333;
  opacity: 0.9;
}

h3.status-name:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #000;
  float: left;
  position: absolute;
  left: 10px;
  top: 8px;
  background: url(https://image.flaticon.com/icons/svg/1152/1152847.svg);
  display: block;
  background-position: center;
  background-size: cover;
}

h3.special-defense.status-name:after {
  background: url(https://cdn0.iconfinder.com/data/icons/website-design-4/467/Protection_icon-512.png) !important;
  background-position: center;
  background-size: cover;
}

.changePok {
  padding: 50px;
  text-align: center;
}

button.chang {
  width: 100%;
  display: block;
  padding: 15px;
  border-radius: 5px;
  border: navajowhite;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background: #2ecc71;
}